<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <body>
        <% trainers.forEach((trainer)  =>
    { %>
        <div>
            <a href="/trainer/<%= trainer.trainerid %>"><%= trainer.trainername %></a>
        </div>
    <% }); %>
</body>
</html>