<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <body>
        <% types.forEach((type)  =>
    { %>
        <div>
            <a href="/type/<%= type.typeid %>"><%= type.typename %></a>
        </div>
    <% }); %>
</body>
</html>